
#Fast API requirements
fastapi==0.92.0
uvicorn==0.20.0
PyJWT==2.6.0
python-jose==3.3.0

#MongoDB requirements
pymongo==4.3.3

#Machine Learning
requests===2.28.2
pandas===2.0.0
matplotlib===3.7.1
scikit-learn===1.2.2
xgboost===1.7.5
seaborn===0.12.2